.icon {
    margin-right: 1em;
}

dl {
    display: flex;
    flex-direction: column;
}

/* dt {
    grid-area: dt;
}

dl {
    display: grid;
    grid-template:
        'dt dt dt'
        'dt dt dt';
} */